<launch>
  <arg name="octomap_hit" default="0.65" />
  <arg name="octomap_miss" default="0.38" />
  <arg name="octomap_downproj_thresh" default="0.7" />

  <arg name="object_prior" default="0.004" />
  <arg name="object_hit" default="0.05" />
  <arg name="object_miss" default="0.0005" />
  <arg name="object_samples" default="6000" />

  <arg name="roomtype_confidence" default="0.05" />

  <param name="use_sim_time" value="true" />

  <include file="$(find hardware)/launch/includes/robot.launch.xml">
    <arg name="base" value="$(env TURTLEBOT_BASE)" />
    <arg name="stacks" value="$(env TURTLEBOT_STACKS)" />
    <arg name="3d_sensor" value="own_sensors" />
  </include>

  <node pkg="costmap_laser_node" type="costmap_laser_node" name="costmap_laser_node" args="-1.95 1.95 0.1 1.0 4.0" /> 

  <include file="$(find hardware)/launch/includes/semantic_mapping.launch.xml" >
    <arg name="result_topic" value="vision_result" />
    <arg name="scan_topic" value="scan_filtered" />

    <arg name="octomap_hit" value="$(arg octomap_hit)" />
    <arg name="octomap_miss" value="$(arg octomap_miss)" />
    <arg name="octomap_downproj_thresh" value="$(arg octomap_downproj_thresh)" />

    <arg name="object_prior" value="$(arg object_prior)" />    
    <arg name="object_hit" value="$(arg object_hit)" />
    <arg name="object_miss" value="$(arg object_miss)" />
    <arg name="object_samples" value="$(arg object_samples)" />

    <arg name="roomtype_confidence" default="$(arg roomtype_confidence)" />
  </include>

  <node pkg="odom_to_tf" type="odom_to_tf" name="odom_to_tf" args="odom" /> 
<!--
  <include file="$(find hardware)/launch/includes/door_detection.launch.xml" >
  </include> 

-->
  <include file="$(find hardware)/launch/includes/vision.launch.xml" >
    <arg name="result_topic" value="vision_result" />
  </include> 
<!--  
  <include file="$(find hardware)/launch/includes/move_base.launch.xml"  >
    <arg name="laser_topic" value="scan_costmap" />
  </include>
-->

</launch>
