<launch>
  <param name="use_sim_time" value="true" />

  <include file="$(find hardware)/launch/includes/robot.launch.xml">
    <arg name="base" value="$(env TURTLEBOT_BASE)" />
    <arg name="stacks" value="$(env TURTLEBOT_STACKS)" />
    <arg name="3d_sensor" value="own_sensors" />
  </include>

  <node pkg="costmap_laser_node" type="costmap_laser_node" name="costmap_laser_node" args="-1.95 1.95 0.1 1.0 4.0" /> 
<!--
  <include file="$(find hardware)/launch/includes/semantic_mapping.launch.xml" >
    <arg name="scan_topic" value="scan_filtered" />
  </include>
-->
  <include file="$(find hardware)/launch/includes/door_detection.launch.xml" >
  </include> 

  <include file="$(find hardware)/launch/includes/vision.launch.xml" >
  </include> 
  
  <include file="$(find hardware)/launch/includes/move_base.launch.xml"  >
    <arg name="laser_topic" value="scan_costmap" />
  </include>

</launch>
