<!-- launches turtlebot for semantic mapping
-->
<launch>
  <include file="$(find hardware)/launch/mapping.launch">
    <arg name="use_manual_control" value="1" />
  </include>

  <node pkg="vision" type="vision" name="vision" />
  <node pkg="semantic_mapping" type="semantic_mapping" name="semantic_mapping" launch-prefix="xterm -hold -e" />
  <node pkg="kb_query" type="conceptnet4_query.py" name="knowledgebase" />

</launch>
